.phone-shot {

  text-align: center;

  margin: 2rem 0;

}

.phone-shot img {

  max-width: 300px;

  width: 75%;

  height: auto;

}

.phone-shot figcaption {

  margin-top: 0.25rem;

  font-size: 0.95rem;

  color: #777;

  text-align: center;

}
.three-phone-shot {

  text-align: center;

  margin: 2rem 0;

}

/* .three-phone-shot img {

  max-width: 300px;

  width: 75%;

  height: auto;

} */

.three-phone-shot figcaption {

  margin-top: 0.25rem;

  font-size: 0.95rem;

  color: #777;

  text-align: center;

}
.status-green {
  color: #34c759;
  font-weight: 700;
}

.status-blue {
  color: #0088ff;
  font-weight: 700;
}

.status-red {
  color: #ff383c;
  font-weight: 700;
}

.status-grey {
  color: #666666;
  font-weight: 700;
}

.status-soft-grey {
  color: #aaaaaa;
  font-weight: 700;
}
